<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">ACTUALIZAR</h1>
          <form [formGroup]="actualizarForm" (ngSubmit)="actualizar()">
            <div class="form-group">
              <label for="text">Nombre</label>
              <input type="text" class="form-control" formControlName="nombres" placeholder={{nom}} value={{nom}}/>
            </div>
            <div class="form-group">
                <label for="text">Apellidos</label>
                <input type="text" class="form-control" formControlName="apellidos" placeholder={{ape}}/>
            </div>
            <div class="form-group">
                <label for="text">Usuario</label>
                <input type="text" class="form-control" formControlName="usuario" placeholder={{usu}}/>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              ACTUALIZAR
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>