<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">USUARIOS</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" (click)="add()">
            <div>REGISTRAR</div>
          </a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center" >
          <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Usuario</th>
            <th class="text-center">Acciones</th>
          </tr>
          <!--
          <tr *ngFor="let person of personList; let id = index">
            <td>
              <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
            </td>
            <td>
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Eliminar</button>
              </span>
            </td>
          </tr>
          -->
          <tr *ngFor="let user of listaUsuarios ; let id = index">
            <td>
              <span>{{user.nombres}}</span>
            </td>
            <td>
              <span>{{user.apellidos}}</span>
            </td>
            <td>
              <span>{{user.usuario}}</span>
            </td>
            <td>
              <span class="table-remove">
                <button type="button" (click)="update(id)">Editar</button>
              </span>
              <span class="table-remove">
                <button type="button" (click)="deleteUsuario(id)" >Eliminar</button>
              </span>
            </td>
          </tr>
        </table>
        <div>
          <ngb-pagination class="d-flex" 
                  [collectionSize]="numElementos" 
                  [(page)]="page" 
                  [maxSize]="10" 
                  [directionLinks]="true"
                  (pageChange)="listarUsuarios()">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>